* {
    padding: 0;
    margin: 0:
}

.img-size {
    width: 100px;
    height: 100px;

}

.main-title {
    text-align: center;
    margin-bottom: 70px;
}

.div-principale {
    background-color: aqua;
}

/* GENITORE FLEXBOX */

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    background-color: rgb(65, 10, 70);
    flex-wrap: wrap;
    padding: 50px;
}

/*FIGLI FLEXBOX */

.flexbox-item1 {
    display: flex;
    background-color: rgb(180, 138, 138);
    align-items: center;
    width: 300px;
    padding-left: 40px;

}