* {
    padding: 0;
    margin: 0:
}

.img-size {
    width: 100px;
    height: 100px;
    padding-left: 20px;

}

.main-title {
    text-align: center;
    margin-bottom: 40px;
    color: red;
    font-family: Arial, Helvetica, sans-serif
}

.div-principale {
    background-color: aqua;
}

#paragrafo-principale {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

/* FLEXBOX HEADER */
.contenitore-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(219, 216, 252);
    box-shadow: 10px 10px 10px rgb(180, 180, 180);

}

.flexboxitem-header {
    margin-left: 50px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

}

.flexboxitem-header2 {
    justify-content: space-between;
    align-self: center;
    font-size: 300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 200px;
    margin: 50px;
}

.subitemheader {
    align-self: center;
    justify-content: center;
}

#imgheader {
    height: 150px;
    width: 150px;
}

/*FLEXBOX CENTRALE CARDS*/

/* GENITORE FLEXBOX */

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    background-color: rgb(45, 0, 151);
    flex-wrap: wrap;
    padding: 50px;
}

/*FIGLI FLEXBOX */


/*BOX1*/
.flexbox-item1 {
    display: flex;
    flex-direction: row;
    background-color: rgb(15, 14, 23);
    align-items: center;
    width: 30%;
    min-width: 350px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(20, 20, 20);
}

.flexbox-subitem1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.flexbox-subitem2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    color: white;
}

.flexbox-subitem3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}

/*PARTE FOOTER*/
#footer {
    background-color: rgb(0, 12, 119);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.card-right {
    padding-left: 10px;
    color: white;
}